<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script type='text/javascript'>
function send()
{

var xhr = new XMLHttpRequest();

xhr.onreadystatechange = function()
{
if(xhr.readyState == 4) {
if(xhr.status == 200){

  var json = JSON.parse(xhr.responseText);
	
	json.forEach(function(j){
    var div = document.createElement('div');
    div.innerHTML = '<b>' + 'Feedbacks:' + '</b>:' + j.feedback.feedback;
	document.getElementById("feeds").appendChild(div);
});


}
}
}
xhr.open("POST","./getfeedback", true);
xhr.setRequestHeader("Content-type", "application/json");

}

function init()
{
  send();
}
</script>
  </head>
  <body class="jumbotron">
<div class="col-md-12 offset-md-1" style="color:orange; font-size:26px; background-color:#153260">Student Feedbacks</div>
<p/>
<div id="feeds">
<table class="table" id="table" >  
        <thead>  
            <tr>  
                <th>Feedback</th>  
                <th>Date</th> 
            </tr>  
        </thead>  
         <tbody>  
         <% featureCollection.forEach(function (user) { %>
            <tr>  
                <td><%= user.feedback %></td>  
                <td><%= user.create_date %></td>  
            </tr>                                   
         <% }) %>
         </tbody>
    </table> 
 </div>
  </body>
</html>
